<div class="container mt-5 mb-md-4 py-5">
  
    <!-- Page content-->
    <div class="row justify-content-center pb-sm-2">
        <div class="col-lg-11 col-xl-10">
            <!-- Page title-->
            <div class="text-center pb-2 ">
                <h1 class="h2 mb-2">Sign up</h1>
                <p class="mb-2">Already have an account?</p>
                <a routerLink="/login" class="btn btn-primary btn-lg rounded-pill" type="button"><i class="fi-upload me-2"></i>Sign in here</a>
            </div>
         
         
            <!-- Step 1: Basic Info-->
            <div class="bg-light rounded-3 p-4 p-md-5 mb-3">
                <h2 class="h4 mb-4"><i class="fi-user text-primary fs-5 mt-n1 me-2" *ngIf="newUser.type==0"></i>
                    <i class="fi-briefcase text-primary fs-5 mt-n1 me-2" *ngIf="newUser.type==1"></i>
                    Basic info</h2>
                
                <form action="">
                <div class="row">
                    <div class="col-sm-12 mb-4">
                        <label for="select-input" class="form-label">Choisissez le type de compte:</label>
                        <select class="form-select" id="select-input" [(ngModel)]="newUser.type" name="type" id="newUser.type">
                            <option disabled default>Choose option...</option>
                            <option [value]="0">Candidate</option>
                            <option [value]="1">Employer</option>
                        
                        </select>
                    </div>
                    <div class="col-sm-12 mb-4">
                        <div class="mb-3 input-group-lg">
                            <label for="select-input" class="form-label">Choose your username:</label>
                            <input type="text" class="form-control" placeholder="We'll never share your username with anyone else"
                                [(ngModel)]="newUser.username" name="username">
                        
                        </div>
                    </div>
                    <div class="col-sm-6 mb-4" *ngIf="newUser.type==0">
                        <label class="form-label" for="pr-fn">First name <span class='text-danger'>*</span></label>
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="newUser.firstname" name="firstname"
                            placeholder="Enter your first name" required>
                    </div>
                    <div class="col-sm-6 mb-4" *ngIf="newUser.type==0">
                        <label class="form-label" for="pr-sn">Last name <span class='text-danger'>*</span></label>
                        <input class="form-control form-control-lg" type="text" [(ngModel)]="newUser.lastname" name="lastname"
                            placeholder="Enter your second name" required>
                    </div>
                    <div class="col-sm-6 mb-4">
                        <label class="form-label" for="pr-email">Email address <span
                                class='text-danger'>*</span></label>
                        <input class="form-control form-control-lg" type="email" 
                            placeholder="We'll never share your email with anyone else" [(ngModel)]="newUser.email"
                            name="email" required>
                    </div>
                    <div class="col-sm-6 mb-4">
                    <label for="select-input" class="form-label">Choose ur password:</label>
                    <div class="input-group input-group-lg">
                    
                      
                          
                                <input class="form-control" type="{{passwordVisible ? 'text' : 'password'}}"   [(ngModel)]="newUser.password" name="password" placeholder="Enter password" required>
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                  <input class="password-toggle-check" type="checkbox" (click)="togglePasswordVisibility()"><span class="password-toggle-indicator"></span>
                                </label>
                          

                    </div>
                    </div>
                    <div class="col-sm-4 mb-4" *ngIf="newUser.type==1">
                        <label for="select-input" class="form-label">Company Description:</label>
                        <input type="text" class="form-control" placeholder="Enter description" [(ngModel)]="newUser.description"
                            name="description">
                    </div>
                    <div class="col-sm-4 mb-4" *ngIf="newUser.type==1">
                        <label for="select-input" class="form-label">Category:</label>
                        <select class="form-select" id="select-input" [(ngModel)]="newUser.category" name="category" id="newUser.category">
                            <option disabled default>Choose option...</option>
                            <option [value]="'Sécurité'">Security</option>
                            <option [value]="'Reseau'">Network</option>
                            <option [value]="'Information Technology'">Information Technology</option>
                        
                        </select>
                    </div>
                    <div class="col-sm-4 mb-4" *ngIf="newUser.type==1">
                       
                            <label for="select-input" class="form-label">Size:</label>
                            <input type="text" class="form-control" placeholder="size of the campany" [(ngModel)]="newUser.thesize"
                                name="thesize">
                        
                     
                    </div>
                       
                            <label class="form-label fw-bold mb-3" *ngIf="newUser.type==1">Socials</label>
                            <div class="col-sm-6 mb-4" *ngIf="newUser.type==1">
                            <div class="d-flex align-items-center mb-3">
                                <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3">
                                    <i class="fi-facebook text-body"></i>
                                </div>
                                <input class="form-control" type="text" placeholder="Your Facebook account" [(ngModel)]="newUser.facebooklink">
                            </div>
                            </div>
                            <div class="col-sm-6 mb-4" *ngIf="newUser.type==1">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3">
                                        <i class="fi-linkedin text-body"></i>
                                    </div>
                                    <input class="form-control" type="text" placeholder="Your LinkedIn account" [(ngModel)]="newUser.linkedinlink">
                                </div>
                            </div>
                           
                    <div [ngClass]="{'col-sm-12 mb-4': newUser.type==1, 'col-sm-6 mb-4': newUser.type==0}">
                        <div class="mb-md-5 mb-4 pb-md-0 pb-2" >
                            <h2 class="h5 mb-2 pb-1" *ngIf="newUser.type==1">Upload logo</h2>
                            <h2 class="h5 mb-2 pb-1" *ngIf="newUser.type==0">Upload votre photo</h2>

                            <div *ngIf="newUser.type">

                            <p class="mb-4 fs-sm">File types supported: PNG, JPG, GIF, WEBP. Max size: 100mb.
                            </p>
                            <!-- display images-->
                           
                            <!-- Drag and drop file upload-->
                            <div class="file-drop-area" >
                        
                                <a (click)="selectFile.click()" class="file-drop-icon ci-cloud-upload">
                        
                                    <div class="text-center" *ngIf="imgURL">
                                        <img [src]="imgURL" class="avatar-img " style="width: 25%; height:25%">
                                    </div>
                                    <div class=" text-center" *ngIf="!imgURL">
                                        <img class="avatar-img " src="{{this.userService.host+'/social/api/profilphoto/'+newUser.userid}}"
                                            alt="">
                                    </div>
                        
                                </a><span class="file-drop-message">Drag and drop here to upload</span>
                            </div>
                            <!--   <input class="file-drop-input" type="file" multiple value="select" #selectFile  (change)="onFileSelected($event)"> -->
                            <input class="form-control" type="file" value="select" #selectFile (change)="selectImage($event)">
                            </div>
                        </div>
        
                    </div>

                    <div class="col-sm-6 mb-4" >
                        <div class="mb-md-5 mb-4 pb-md-0 pb-2" >
                            <h2 class="h5 mb-2 pb-1" *ngIf="newUser.type==0">Upload CV</h2>
                            <div *ngIf="newUser.type==0">
                            <p class="mb-4 fs-sm">File types supported: PDf.
                            </p>
                           
                            <div class="file-drop-area">
                        
                                <a (click)="selectFilee.click()" class="file-drop-icon ci-cloud-upload">
                                    <div class="text-center" *ngIf="imgURL">
                                        <img >
                                    </div>
                                    <div class=" text-center" *ngIf="!imgURL">
                                        <img class="avatar-img " 
                                            alt="">
                                    </div>
                                </a><span class="file-drop-message">Drag and drop here to upload</span>
                            </div>
                        
                            <input class="form-control" type="file" value="select" #selectFilee (change)="selectcv($event)">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex flex-column flex-sm-row bg-light rounded-3 p-4 px-md-5"><button
                        class="btn btn-primary btn-lg rounded-pill ms-sm-auto" (click)="addUser()">Sign up<i class="fi-chevron-right fs-sm ms-2"></i></button></div>
                <p class="mb-0 mt-3 text-center">©2023 <a target="_blank" href="https://www.hgdev.com/">hgdev.</a> All rights reserved
                </p>
                </form>
            </div>
            <!-- Navigation-->
           
        </div>
    </div>
</div>




